pipeline/PL_PARENT_ORECHE.json
{
	"name": "PL_PARENT_ORECHE",
	"properties": {
		"activities": [
			{
				"name": "LKUP_SQLSERVER",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQLSERVER",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "FOR_SQLSERVER_WATMAR",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKUP_SQLSERVER",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKUP_SQLSERVER').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "EXEC_SQLSERVER_WATMARK",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_CHILED_INCRE",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}